
body,p,h1,h2,ul,li{
    
    padding:0;
}
ul,li{
    list-style: none;
}

body{
    font-family: sans-serif;
    background: url(resim/bg.png) repeat-x #e0e0df;
    font-size: 100%;
 
}
a{
    text-decoration: none;
}
.sayfa{
    width: 980px;
    margin:auto;
    
}
/* Satır içi stil h1 */


.siteadi a h1{
    text-align: center;/*yazıyı ortala*/

    padding:0;/*iç boşluk yok*/
    font-size:4em;
    color:#8B0000;
    text-shadow: #4c4b4b -1px -1px,#fff 1px 1px; /*siyah ve beyaz gölgeler*/
	background: #336fa4;//üstmenühigli
	
}

.slogan p{
    text-align: right;
    padding-right: 240px;
    color:#0000ff;//alt cümle
    font-size: 1.2em;
    font-style: italic;
	 margin:30px 0 0 0;
}

.ust-menu{
    margin-top:26px;
}


.ust-menu ul li{
    float: left; 
    border-left:#000 solid 1px;//çizgi rengi
    border-right:#92afc8 solid 1px;
}
.ust-menu ul li:first-child{
    border-left:none;
}
.ust-menu ul li:last-child{
    border-right:none;
}

.ust-menu ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding:0 20px;
    font-size: 1.2em;
    color:#000;//menü yazı rengi
    margin-top:5px;
}

.ust-menu ul li a:hover{
background: #336fa4;//üstmenühigli
}

.slider{
    height: 238px;
    text-align: center;
	margin-top:50px;
}

.temizle{
    clear: both;
}

.orta{
    
}

.orta-sol{
    width: 680px;
    float:left;
}

.urun{
    padding:10px ;
    background: #FF0000;
    margin:10px 10px 0 0;
}

.urun-resim{
    float:left;
    margin:0 10px 10px 0;
}

.urun-baslik{

    font-size: 1.6em;
    color:#0000ff;
}
.urun-ozet{
    margin-top:10px;
    font-size: 1em;
    line-height: 1.6em;
    color:#F0F8FF;
}

.urun-ozet a{
    color:#207eae;
}


.urun1{
    padding:50px ;
    background: #FF6633;
    margin:10px 10px 0 0;
}

.urun1-resim1{
    float:left;
    margin:0 10px 10px 0;
}

.urun1-baslik1{

    font-size: 1.6em;
    color:#0000ff;
}
.urun1-ozet1{
    margin-top:10px;
    font-size: 1em;
    line-height: 1.6em;
    color:#F0F8FF;
}

.urun1-ozet1 a{
    color:#207eae;
}




.orta-sag{
    float:left;
    width: 300px;
}

.panel{
    background: #8B0000;
    margin:10px 0 10px 10px;
}
.panel-baslik{
    background: #008000;
    
    
}

.panel-baslik h2{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    font-weight: 400;
}

.panel-bolum .populer{
    border-bottom:#fc5151 solid 1px;
    padding-bottom:10px;
    margin:0 10px 0 10px;
}
.panel-bolum .populer img{
    padding:0 10px 10px 0;
    float:left;
    width: 90px;
}

.panel-bolum .populer h3{
    color:#fff;
    line-height: 30px;
    font-weight: 400;
    font-size: 1em;
}

.panel-bolum .galeri{
    text-align: center;
    padding:10px 0;
}

.alt{
    border-top:#e64d53 solid 10px;
    background: #000;
    padding:10px 0 50px 0;
}

.ortala{
    width: 980px;
    margin:auto;
}

.alt-sol{
    width: 480px;
    float:left;
}
.alt-sag{
    width: 480px;
    float:right;
}
.bolum-1,.bolum-2{
    float: left;
    width: 230px;
}
.alt-sol h2,.alt-sol ul a{
    color:#0000FF;
}

.alt-sol ul li{
    padding:5px 0 5px 0;
}

.alt-sol ul a{
     text-decoration: none;
}
.alt-sol .alt-menu li{
    padding-left:20px;
    background: url(resim/nokta.png) no-repeat 0 7px;
}
.alt-sol .sosyal-menu img{
   
   width: 30px; 
    
}

.alt-sag{
    position: relative;
    background: #00ffff;
    margin-top:-10px;
}

.gorus-form label{
    text-align: right; 
    float:left;
    width: 100px;
    padding: 5px 10px 0 0;
    font-size: 1.2em;
    color:#000000;
}
.gorus-form input[type="text"],.gorus-form textarea{
    width: 150px;
    padding:5px;
    background: #fff;
    border:none;
}
.gorus-form textarea{
    height: 75px;
}

.gorus-form input[type="submit"]{
	 float:center;
    background: #0000ff;
    float: center;
    padding:5px;
    border:none;
    margin-bottom:5px;
}
.form-satir{
    padding:5px;  
}